<template>
    <b-jumbotron>
        <template slot="lead">
            <span v-html="currentQuestion.question"></span>
        </template>
        <hr class="my-4">
        <b-list-group>
            <b-list-group-item 
            v-for="(answer,index) in shuffledAnswers" 
            :key="index"
            @click="selectAnswer(index)"
            :class="answerClass(index)"
            >
            <span v-html="answer"></span>
            </b-list-group-item>
        </b-list-group>
        <b-button 
            variant="primary"
            @click="submitAnswer"
            :disabled="selectedIndex===null || answered"
        >Submit</b-button>
        <b-button @click="next" variant="success" href="#">Next</b-button>
    </b-jumbotron>
</template>

<script>
import _ from 'lodash'
export default {
    props:{
        currentQuestion:Object,
        next:Function,
        increment:Function
    },
    data(){
        return {
            selectedIndex : null,
            shuffledAnswers : [],
            correctIndex:null,
            answered:false
        }
    },
    methods:{
        selectAnswer(index){
            this.selectedIndex = index
        },
        submitAnswer(){
            let isCorrect=false;
            if (this.selectedIndex===this.correctIndex){
                isCorrect = true;
            }
            this.answered=true;
            this.increment(isCorrect);
        },
        shuffleAnswers(){
            let answers=[...this.currentQuestion.incorrect_answers,this.currentQuestion.correct_answer]
            this.shuffledAnswers = _.shuffle(answers)
            this.correctIndex=this.shuffledAnswers.indexOf(this.currentQuestion.correct_answer)
        },
        answerClass(index){
            let answerClass = ''
            if(!this.answered && this.selectedIndex===index ){
                answerClass="selected"
            }else if(this.answered && this.correctIndex===index){
                answerClass = "correct"
            }else if(this.answered && this.correctIndex !== index && this.selectedIndex===index){
                answerClass = "incorrect"
            }
            return answerClass;
        }
    },
    watch:{
        currentQuestion:{
            immediate:true,
            handler(){
                this.selectedIndex = null;
                this.shuffleAnswers();
                this.answered=false;
            }
        }
    },
    computed:{
        answers(){
            let answers = [...this.currentQuestion.incorrect_answers]
            answers.push(this.currentQuestion.correct_answer)
            return answers;
        }
    }
}
</script>

<style scoped>
.list-group{
    margin-bottom: 25px;
}
.list-group-item:hover{
    background: #eeeeee;
    cursor:pointer;
}
.btn{
    margin: 0 5px;
}
.selected{
    background-color: lightblue;
}
.correct{
    background-color: lightgreen;
}
.incorrect{
    background-color: red;
}
</style>